In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

import kraft

In [3]:
SETTING = kraft.json.read("setting.json")

https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE153667

In [4]:
_x_samples = kraft.geo.get_gse(
    "GSE153667", SETTING["data_directory_path"], overwrite=False
)

/media/kwat/CarrotCake/garden/data/chronic_fatigue_syndrome//GSE153667_family.soft.gz exists.
--------------------------------------------------------------------------------
                                                   Control1  \
Feature
Sample_geo_accession                             GSM4649027
Sample_status                         Public on Jul 02 2020
Sample_submission_date                          Jul 01 2020
Sample_last_update_date                         Jul 02 2020
Sample_type                                             SRA
Sample_channel_count                                      1
Sample_source_name_ch1   Peripheral Blood Mononuclear Cells
Sample_organism_ch1                            Homo sapiens

                                                   Control2
Feature
Sample_geo_accession                             GSM4649028
Sample_status                         Public on Jul 02 2020
Sample_submission_date                          Jul 01 2020
Sample_last_update_date                         Jul 02 2020
Sample_type                                             SRA
Sample_channel_count                                      1
Sample_source_name_ch1   Peripheral Blood Mononuclear Cells
Sample_organism_ch1                            Homo sapiens
(31, 20)
--------------------------------------------------------------------------------


--------------------------------------------------------------------------------
Empty DataFrame
Columns: []
Index: []
(0, 0)
--------------------------------------------------------------------------------


--------------------------------------------------------------------------------
                        Control1  Control2
Feature
disease state: Control         1         1
disease state: Patient         0         0
(2, 20)
--------------------------------------------------------------------------------

In [5]:
continuous_feature_x_sample, binary_feature_x_sample = _x_samples[1:3]

In [6]:
continuous_feature_x_sample

Empty DataFrame
Columns: []
Index: []

In [7]:
binary_feature_x_sample

,Control1,Control2,Control3,Control4,Control5,Control6,Control7,Control8,Control9,Control10,Patient1,Patient2,Patient3,Patient4,Patient5,Patient6,Patient7,Patient8,Patient9,Patient10
Feature,,,,,,,,,,,,,,,,,,,,
disease state: Control,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0
disease state: Patient,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1

In [8]:
file_path = kraft.internet.download(
    "https://www.ncbi.nlm.nih.gov/geo/download/?acc=GSE153667&format=file&file=GSE153667%5FDMAP%5Fmatrix%2Ecsv%2Egz",
    SETTING["data_directory_path"],
    overwrite=False,
)

/media/kwat/CarrotCake/garden/data/chronic_fatigue_syndrome//GSE153667_DMAP_matrix.csv.gz exists.

In [9]:
gene_x_sample = pd.read_csv(file_path)

# TODO: make feature_x_sample

gene_x_sample

,chr,Start,End,Pr,Test,Overlap,GeneID,Control,Patient,C001,...,ME006,ME007,ME009,ME011,ME014,ME015,ME016,Difference,Len,CpGs
0,chr1,78148247,78148300,0.515592,"F(1,13)=0.45",on_intron,ZZZ3,0.0190,0.0124,NaN,...,0.7143,0.3493,0.2987,0.0909,0.3846,NaN,0.3162,-0.66,75,8
1,chr1,78153303,78153342,0.075662,"F(1,13)=3.73",-,ZZZ3,0.6160,0.4200,NaN,...,0.0000,0.0488,0.0278,0.0217,0.0000,NaN,0.0000,-19.60,54,3
2,chr1,78147433,78147507,0.410879,"F(1,14)=0.72",on_intron,ZZZ3,0.2724,0.3100,0.8276,...,0.2069,NaN,0.3095,0.4649,0.5778,NaN,0.5938,3.76,40,4
3,chr17,3912868,3912962,0.472385,"F(1,15)=0.54",intron_exon_boundary,ZZEF1,0.9781,0.9837,0.9815,...,1.0000,1.0000,0.9802,0.9600,0.9833,NaN,0.9518,0.56,95,6
4,chr17,3912963,3913066,0.992459,"F(1,15)=0.00",exon_intron_boundary,ZZEF1,0.9521,0.9495,0.8889,...,0.9467,1.0000,0.9255,0.9545,1.0000,NaN,0.8862,-0.26,68,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146570,chr20,110642,110701,0.746016,"F(1,15)=0.11",-,NaN,0.9068,0.9118,0.0690,...,0.0877,0.0000,0.0938,0.0818,0.1613,NaN,0.0533,0.50,44,5
146571,chr3,238785,238828,0.799675,"F(1,16)=0.07",on_intron,NaN,0.0352,0.0351,0.0833,...,0.0636,NaN,0.0182,0.0368,0.0667,NaN,0.0516,-0.01,42,4
146572,chr3,239909,239952,0.773233,"F(1,15)=0.09",on_intron,NaN,0.0812,0.0765,0.4915,...,0.4923,0.8000,0.2778,0.3448,0.5412,NaN,0.5724,-0.47,48,6
146573,chr3,239678,239719,0.786456,"F(1,15)=0.08",on_intron,NaN,0.0933,0.0974,0.0645,...,NaN,0.1538,0.1071,0.0926,0.0667,NaN,0.0000,0.41,40,3
146574,chr3,350661,350708,0.662923,"F(1,13)=0.20",on_intron,NaN,0.4549,0.5039,1.0000,...,0.8116,0.6591,0.5319,0.8485,0.7692,NaN,NaN,4.90,68,4