In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

import kraft

In [3]:
SETTING = kraft.json.read("setting.json")

https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE153667

In [4]:
_x_samples = kraft.geo.get_gse(
    "GSE153667", SETTING["data_directory_path"], overwrite=SETTING["overwrite"]
)

/media/kwat/CarrotCake/garden/data/chronic_fatigue_syndrome//GSE153667_family.soft.gz exists.
--------------------------------------------------------------------------------
                                                   Control1  \
Feature
Sample_geo_accession                             GSM4649027
Sample_status                         Public on Jul 02 2020
Sample_submission_date                          Jul 01 2020
Sample_last_update_date                         Jul 02 2020
Sample_type                                             SRA
Sample_channel_count                                      1
Sample_source_name_ch1   Peripheral Blood Mononuclear Cells
Sample_organism_ch1                            Homo sapiens

                                                   Control2
Feature
Sample_geo_accession                             GSM4649028
Sample_status                         Public on Jul 02 2020
Sample_submission_date                          Jul 01 2020
Sample_last_update_date                         Jul 02 2020
Sample_type                                             SRA
Sample_channel_count                                      1
Sample_source_name_ch1   Peripheral Blood Mononuclear Cells
Sample_organism_ch1                            Homo sapiens
(31, 20)
--------------------------------------------------------------------------------


--------------------------------------------------------------------------------
                        Control1  Control2
Feature
disease state: Control         1         1
disease state: Patient         0         0
(2, 20)
--------------------------------------------------------------------------------

In [5]:
binary_feature_x_sample = _x_samples[2]

binary_feature_x_sample

,Control1,Control2,Control3,Control4,Control5,Control6,Control7,Control8,Control9,Control10,Patient1,Patient2,Patient3,Patient4,Patient5,Patient6,Patient7,Patient8,Patient9,Patient10
Feature,,,,,,,,,,,,,,,,,,,,
disease state: Control,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0
disease state: Patient,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1

In [6]:
file_path = kraft.internet.download(
    "https://www.ncbi.nlm.nih.gov/geo/download/?acc=GSE153667&format=file&file=GSE153667%5FDMAP%5Fmatrix%2Ecsv%2Egz",
    SETTING["data_directory_path"],
    overwrite=SETTING["overwrite"],
)

/media/kwat/CarrotCake/garden/data/chronic_fatigue_syndrome//GSE153667_DMAP_matrix.csv.gz exists.

In [20]:
gene_x_sample = pd.read_csv(file_path, usecols=(6,) + tuple(range(9, 29)), index_col=0)

gene_x_sample.index = kraft.name_biology.name_genes(gene_x_sample.index.to_numpy())

gene_x_sample.index.name = "Gene"

gene_x_sample = kraft.feature_x_sample.collapse(gene_x_sample)

gene_x_sample

Named 139623 genes.
(146575, 20)
Collapsing...
(15392, 20)

,C001,C002,C003,C004,C005,C006,C007,C008,C011,C012,ME001,ME003,ME004,ME006,ME007,ME009,ME011,ME014,ME015,ME016
Gene,,,,,,,,,,,,,,,,,,,,
A1BG,0.12545,0.00760,0.00910,0.02265,0.02305,0.04260,0.47725,0.04730,0.0225,0.02765,0.40650,0.0563,0.0000,0.00310,0.04490,0.03880,0.07905,0.01790,0.7714,0.00935
A1CF,0.02345,0.01705,0.02655,0.04275,0.04015,0.02745,0.02410,0.03975,0.0498,0.03715,0.05210,0.0387,0.0395,0.02260,0.03220,0.03230,0.02565,0.03595,NaN,0.00830
A2M,0.97365,0.99295,0.99430,1.00000,0.98020,0.98865,1.00000,0.99075,0.9750,0.98795,0.98610,0.9924,0.9861,0.99445,0.95525,0.99525,0.98500,0.97445,NaN,0.96460
A2ML1,0.97920,0.97140,0.95830,0.95140,0.90910,0.94820,0.96080,0.94440,0.9608,0.95315,0.92105,0.9470,0.9400,0.94830,0.91820,0.94870,0.96030,0.94290,NaN,0.92750
A4GALT,0.92860,0.86250,0.90910,0.92420,0.89205,0.96830,0.10810,0.90910,0.8889,0.93735,0.79075,0.9250,0.9167,0.92140,0.93240,0.93330,0.95450,0.95520,0.9444,0.93810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZXDC,0.01280,0.01010,0.00830,0.00320,0.00740,0.01310,0.00425,0.00700,0.0095,0.00520,0.00700,0.0024,0.0000,0.00745,0.00410,0.01090,0.00850,0.00480,NaN,0.00440
ZYG11A,0.10890,0.05560,0.07810,0.10740,0.10230,0.03230,0.06060,0.07690,0.0631,0.04370,0.10325,0.0593,0.2337,0.21050,0.07060,0.04130,0.07370,0.12500,NaN,0.06560
ZYX,0.00630,0.01545,0.00910,0.00000,0.01100,0.01290,0.02795,0.01215,0.0144,0.01090,0.01325,0.0107,0.0043,0.00740,0.01790,0.02140,0.01540,0.00790,NaN,0.01630
ZZEF1,0.93540,0.89535,0.97640,0.98500,0.97105,0.95395,NaN,0.95660,0.9737,0.97070,1.00000,0.9701,0.9828,0.98530,0.97655,0.93455,0.95725,0.98205,NaN,0.94075
ZZZ3,0.82760,0.42765,0.32500,0.22010,0.17050,0.26920,NaN,0.07940,0.2276,0.16340,NaN,0.2150,0.2273,0.20690,0.19905,0.29870,0.09090,0.38460,NaN,0.31620